header {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font: 34px Arial;
}

rect:hover {
    stroke: black;
    stroke-width: 3px;
}

#chartContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    color: white;
    background-color: grey;
    text-align: center;
    padding: 15px 32px;
    display: inline-block;
    font: 14px sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.button:hover {
    background-color: darkgray;
}

svg {
    margin-left: 20px;
    margin-right: 20px;
}

div.tooltip {
    position: absolute;
    background-color: white;
    width: 85px;
    height: auto;
    padding: 3px;
    font: 14px sans-serif;
    border: solid 2px black;
    display: block;
}

.axisText {
    text-align: center;
    font: 13px sans-serif;
    font-weight: bold;
}

.active {
    background-color: darkgrey;
}